services:
  producer:
    image: weather-producer-app
    build:
      context: ../weather-producer-app
      dockerfile: src/main/docker/Dockerfile.jvm

  consumer:
    image: weather-app-consumer
    build: ../weather-monitor-app-consumer/
