services:
  producer:
    image: weather-producer-app
    build:
      context: ../weather-producer-app
      dockerfile: src/main/docker/Dockerfile.jvm

  consumer:
    image: weather-consumer-app
    build:
      context: ../weather-consumer-app
      dockerfile: src/main/docker/Dockerfile.jvm
