apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer-deployment
  namespace: weather
  labels:
    app: producer-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer-deployment
  template:
    metadata:
      labels:
        app: producer-deployment
    spec:
      containers:
        - name: producer-app
          image: weather-producer-app
          imagePullPolicy: IfNotPresent
          env:
            - name: WEATHER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: weather-secrets
                  key: weather_api_key
            - name: BROKER_CONFIG
              value: my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
