apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer-deployment
  namespace: weather
  labels:
    app: producer-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer-deployment
  template:
    metadata:
      labels:
        app: producer-deployment
    spec:
      containers:
        - name: producer-app
          image: weather-app-producer
          imagePullPolicy: IfNotPresent
          env:
            - name: WEATHER_API_KEY
              value: 591ebbc4413a484a91f72923260601
            - name: BROKER_CONFIG
              value: my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
