apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-deployment
  namespace: weather
  labels:
    app: consumer-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer-deployment
  template:
    metadata:
      labels:
        app: consumer-deployment
    spec:
      containers:
        - name: consumer-app
          image: weather-app-consumer
          imagePullPolicy: IfNotPresent
          env:
            - name: BROKER_CONFIG
              value: my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
